apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spark-ivy-cache-pvc
  namespace: streaming
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp3
  resources:
    requests:
      storage: 5Gi
