apiVersion: batch/v1
kind: Job
metadata:
  name: airflow-init
  namespace: airflow
  labels:
    app: airflow-init
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: airflow-init
    spec:
      restartPolicy: OnFailure
      serviceAccountName: airflow-sa

      nodeSelector:
        role: platform-core

      containers:
        - name: airflow-init
          image: 922967232801.dkr.ecr.us-east-1.amazonaws.com/airflow:1
          imagePullPolicy: IfNotPresent

          command: ["/bin/bash", "-c"]
          args:
            - |
              set -e

              echo "Waiting for database..."
              until pg_isready -h "$POSTGRES_HOST" -p "$POSTGRES_PORT"; do
                sleep 5
              done

              echo "Running DB migrations..."
              airflow db migrate

              echo "Creating admin user if not exists..."
              airflow users create \
                --username "$_AIRFLOW_WWW_USER_USERNAME" \
                --password "$_AIRFLOW_WWW_USER_PASSWORD" \
                --firstname "$_AIRFLOW_WWW_USER_FIRSTNAME" \
                --lastname "$_AIRFLOW_WWW_USER_LASTNAME" \
                --role "$_AIRFLOW_WWW_USER_ROLE" \
                --email "$_AIRFLOW_WWW_USER_EMAIL" \
              || echo "Admin user already exists"

              echo "Airflow init completed successfully."

          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secret
