apiVersion: batch/v1
kind: Job
metadata:
  generateName: airflow-init-
  namespace: {{ .Release.Namespace }}
  labels:
    app: airflow-init
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: airflow-init
    spec:
      restartPolicy: OnFailure
      serviceAccountName: airflow-sa
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      containers:
        - name: airflow-init
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash", "-c"]
          args:
            - |
              set -e
              until pg_isready -h "$POSTGRES_HOST" -p "$POSTGRES_PORT"; do sleep 5; done
              airflow db migrate
              airflow users create \
                --username "$_AIRFLOW_WWW_USER_USERNAME" \
                --password "$_AIRFLOW_WWW_USER_PASSWORD" \
                --firstname "$_AIRFLOW_WWW_USER_FIRSTNAME" \
                --lastname "$_AIRFLOW_WWW_USER_LASTNAME" \
                --role "$_AIRFLOW_WWW_USER_ROLE" \
                --email "$_AIRFLOW_WWW_USER_EMAIL" \
              || true
          envFrom:
            - configMapRef:
                name: {{ .Values.envFrom.configMapName }}
            - secretRef:
                name: {{ .Values.envFrom.secretName }}
