{{- if .Values.airflowInit.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: airflow-init
  namespace: {{ .Release.Namespace }}
  labels:
    app: airflow-init
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  backoffLimit: 5
  template:
    metadata:
      labels:
        app: airflow-init
    spec:
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      restartPolicy: OnFailure
      containers:
        - name: airflow-init
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash", "-c"]
          args:
            - |
              set -e

              echo "Running DB migrations..."
              airflow db migrate

              echo "Checking if user already exists..."
              if airflow users list | grep -w "$_AIRFLOW_WWW_USER_USERNAME" > /dev/null 2>&1; then
                echo "User already exists. Skipping creation."
              else
                echo "Creating admin user from Kubernetes Secret..."
                airflow users create \
                  --username "$_AIRFLOW_WWW_USER_USERNAME" \
                  --password "$_AIRFLOW_WWW_USER_PASSWORD" \
                  --firstname "$_AIRFLOW_WWW_USER_FIRSTNAME" \
                  --lastname "$_AIRFLOW_WWW_USER_LASTNAME" \
                  --role "$_AIRFLOW_WWW_USER_ROLE" \
                  --email "$_AIRFLOW_WWW_USER_EMAIL"
              fi

              echo "Airflow init completed successfully."
          envFrom:
            - configMapRef:
                name: {{ .Values.envFrom.configMapName }}
            - secretRef:
                name: {{ .Values.envFrom.secretName }}
{{- end }}
