apiVersion: v1
kind: ConfigMap
metadata:
  name: airflow-config
  namespace: airflow
data:
  # ---------------------------
  # Core
  # ---------------------------
  AIRFLOW__CORE__EXECUTOR: CeleryExecutor
  AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
  AIRFLOW__CORE__LOAD_EXAMPLES: "False"
  AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "True"
  AIRFLOW__CORE__HOSTNAME_CALLABLE: socket.getfqdn

  # ---------------------------
  # Authentication
  # ---------------------------
  AIRFLOW__CORE__AUTH_MANAGER: airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
  AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.basic_auth

  # ---------------------------
  # Logging (PVC-based)
  # ---------------------------
  AIRFLOW__LOGGING__REMOTE_LOGGING: "False"
  AIRFLOW__LOGGING__LOGGING_LEVEL: "INFO"
  AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER: /opt/airflow/logs
  AIRFLOW__LOGGING__WORKER_LOG_SERVER_PORT: "8793"

  # Disable authentication for internal log fetching
  AIRFLOW__LOGGING__WORKER_LOG_SERVER_AUTHENTICATION: "False"

  # ---------------------------
  # Webserver
  # ---------------------------
  AIRFLOW__WEBSERVER__ENABLE_PROXY_FIX: "True"
  AIRFLOW__WEBSERVER__BASE_URL: https://airflow.pushparag.online

  # ---------------------------
  # Scheduler
  # ---------------------------
  AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL: "300"
  AIRFLOW__SCHEDULER__SCHEDULER_HEARTBEAT_SEC: "5"
  
  # ---------------------------
  # Misc
  # ---------------------------
  PYTHONPATH: /opt/airflow