apiVersion: v1
kind: ConfigMap
metadata:
  name: airflow-config
  namespace: airflow
data:
  # Core
  AIRFLOW__CORE__EXECUTOR: CeleryExecutor
  AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
  AIRFLOW__CORE__LOAD_EXAMPLES: "False"
  AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "True"

  # Auth
  AIRFLOW__CORE__AUTH_MANAGER: airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
  AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.basic_auth

  # Logging (Airflow 3.x, served logs)
  AIRFLOW__LOGGING__REMOTE_LOGGING: "False"
  AIRFLOW__LOGGING__LOGGING_LEVEL: "INFO"
  AIRFLOW__LOGGING__WORKER_LOG_SERVER_PORT: "8793"
  AIRFLOW__LOGGING__USE_SERVED_LOGS: "True"

  # Webserver
  AIRFLOW__WEBSERVER__ENABLE_PROXY_FIX: "True"
  AIRFLOW__WEBSERVER__BASE_URL: https://airflow.pushparag.online

  # Airflow 3.x execution API (YES, REQUIRED)
  AIRFLOW__CORE__EXECUTION_API_SERVER_URL: http://airflow-api.airflow.svc.cluster.local:8080/execution/

  AIRFLOW__CORE__HOSTNAME_CALLABLE: airflow.utils.net.get_host_ip_address
  AIRFLOW__API__HOSTNAME_CALLABLE: airflow.utils.net.get_host_ip_address
  AIRFLOW__LOGGING__HOSTNAME_CALLABLE: airflow.utils.net.get_host_ip_address

  PYTHONPATH: /opt/airflow
