apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-worker
  namespace: airflow
spec:
  replicas: {{ .Values.replicaCount.worker }}
  selector:
    matchLabels:
      app: airflow-worker
  template:
    metadata:
      labels:
        app: airflow-worker
    spec:
      serviceAccountName: airflow-sa
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}

      volumes:
        - name: logs
          persistentVolumeClaim:
            claimName: airflow-logs

      containers:
        - name: worker
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          command: ["/entrypoint"]
          args: ["airflow", "celery", "worker"]

          ports:
            - name: logs
              containerPort: 8793

          volumeMounts:
            - name: logs
              mountPath: /opt/airflow/logs

          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secret

          resources:
            requests:
              cpu: "500m"
              memory: "2Gi"
            limits:
              cpu: "1500m"
              memory: "4Gi"
