apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-worker
  namespace: airflow
  labels:
    app: airflow-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-worker
  template:
    metadata:
      labels:
        app: airflow-worker
    spec:
      serviceAccountName: airflow-sa

      containers:
        - name: worker
          image: 922967232801.dkr.ecr.us-east-1.amazonaws.com/airflow:1
          imagePullPolicy: IfNotPresent

          command: ["/entrypoint"]
          args: ["airflow", "celery", "worker"]

          ports:
            - name: logs
              containerPort: 8793

          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secret

          resources:
            requests:
              cpu: "500m"
              memory: "2Gi"
            limits:
              cpu: "1500m"
              memory: "4Gi"
