apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-worker
  namespace: airflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-worker
  template:
    metadata:
      labels:
        app: airflow-worker
    spec:
      serviceAccountName: airflow-sa

      volumes:
        - name: logs
          persistentVolumeClaim:
            claimName: airflow-logs

      initContainers:
        - name: fix-log-permissions
          image: busybox
          command: ["sh", "-c"]
          args:
            - |
              chmod -R 777 /opt/airflow/logs
          volumeMounts:
            - name: logs
              mountPath: /opt/airflow/logs

      containers:
        - name: worker
          command: ["/entrypoint"]
          args: ["airflow", "celery", "worker"]

          ports:
            - name: logs
              containerPort: 8793

          volumeMounts:
            - name: logs
              mountPath: /opt/airflow/logs

          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secret
