apiVersion: v1
kind: Service
metadata:
  name: airflow
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: airflow-api
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      name: http
  type: {{ .Values.service.type }}
