replicaCount:
  apiServer: 1
  scheduler: 1
  worker: 1
  dagProcessor: 1
  triggerer: 1

image:
  repository: 922967232801.dkr.ecr.us-east-1.amazonaws.com/airflow
  tag: "1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

nodeSelector:
  role: platform-core

ingress:
  enabled: true
  host: airflow.pushparag.online
  ingressClassName: alb
  groupName: risk-engine
  scheme: internet-facing
  targetType: ip
  listenPorts: '[{"HTTP":80},{"HTTPS":443}]'
  sslRedirect: "443"
  certificateArn: arn:aws:acm:us-east-1:922967232801:certificate/e0af3110-f363-4d3e-85a0-2e428d4cd4a6

# Inject ConfigMap and Secret for environment variables
envFrom:
  configMapName: airflow-config
  secretName: airflow-secret

# Initialize Airflow DB and run migrations
airflowInit:
  enabled: true
  runMigrations: true

# Persistence settings
persistence:
  logs:
    enabled: true        # PVC ENABLED (gp3 StorageClass used in PVC template)
  dags:
    enabled: false
  postgres:
    enabled: false
